<div class="row">
<div class="span12">
	<form class="form-horizontal" action='' method="POST" novalidate>
		<fieldset>
			
			<div id="legend">
			  <legend class="">Create</legend>
			</div>
			 
			 <div class="control-group">
			    <!-- Name -->
			    <label class="control-label">Name</label>
			    <div class="controls">
			      <input type="text" id="name" name="name" placeholder="Bill" class="input-xlarge" ng-model="user.name" required>
			    </div>
			  </div>
			  
			  <div class="control-group">
			    <!-- Email -->
			    <label class="control-label">Email</label>
			    <div class="controls">
			      <input type="email" id="email" name="email" placeholder="example@example.com" class="input-xlarge" ng-model="user.contact.email" required>
			    </div>
			  </div>
			  
			  <div class="control-group">
			    <!-- age -->
			    <label class="control-label">Age</label>
			    <div class="controls">
			      <input type="text" id="age" name="age" class="input-xlarge" ng-model="user.age" required>
			    </div>
			  </div>
			  
			  <div class="control-group">
			      <!-- Phone -->
			    <label class="control-label">Phone Number</label>  
			    <div class="controls">
			     	<input type="text" id="phone" name="phone" class="input-xlarge" ng-model="user.contact.phone" required> 
			    </div>
			  </div>
			  
			  <div class="control-group">
			      <!-- Address -->
			    <label class="control-label">Address</label>  
			    <div class="controls">
			      <input type="text" id="address" name="address" class="input-xlarge" ng-model="user.contact.address" required>
			    </div>
			  </div>

			  <div class="control-group">
			  	<div class="checkbox">
      			<label class="control-label"></label>
      			<input type="checkbox" ng-model="user.newsletters.angular"> Subscribe to Angular newsletter
      		</div>
			  </div> 

			  <div class="control-group">
			  	<div class="checkbox">
      			<label class="control-label"></label>
      			<input type="checkbox" ng-model="user.newsletters.node"> Subscribe to Node newsletter
      		</div>
			  </div>

			  <div class="control-group">
			      <!-- Button -->
			    <div class="controls">
			      <button class="btn btn-success" ng-click="save()" ng-disabled="form.$invalid">Create</button>
			    </div>
			  </div>
		
		</fieldset>
	</form>
</div>
</div>
<pre> {{$scope.user}} </pre>

