<div class="container">
    <form class="col-md-12 user-login-form" novalidate>
    	<label class="login-label">Email</label>
        <div class="form-group">
            <input type="text" class="form-control input-lg" placeholder="Email" ng-model="user.email">
        </div>
        <label class="login-label">Password</label>
        <div class="form-group">
            <input type="text" class="form-control input-lg" placeholder="Password" ng-model="user.password">
        </div>
        <div class="login-button">
        	<button class="btn btn-success" ng-click="login()">Login</button>
        </div>
    </form>
</div>