<div style="margin-top: 90px;">

<!-- Form for editing a selected user. Only visible on 'edit' click-->
<form name="editform" class="form-horizontal" ng-show="editmode">
	<h3>{{currUser.username}}</h3>
  <div class="control-group">
    <label>Name</label>   
    <input type="text" ng-model="currUser.username"/>
  </div>
  <div class="control-group">
    <label>Age</label>   
    <input type="text" ng-model="currUser.age"/>
  </div>
  <div class="control-group">
    <label>Email</label>   
    <input type="text" placeholder="{{currUser.contact.email}}" ng-model="currUser.contact.email"/>
  </div>
  <div class="control-group">
    <label>Phone</label>   
    <input type="text" placeholder="{{currUser.contact.phone}}" ng-model="currUser.contact.phone"/>
  </div>
  <div class="control-group">
    <label>Address</label>   
    <input type="text" placeholder="{{currUser.contact.address}}" ng-model="currUser.contact.address"/>
  </div>
  <div class="control-group"> 
    <input type="checkbox" ng-model="currUser.hunter"/> Hunter
  </div>
  <div class="control-group">  
    <input type="checkbox" ng-model="currUser.landowner"/> Landowner
  </div>
  <div class="control-group">
    <button type="button" ng-disabled="editform.$pristine" class="btn btn-success" ng-click="save(currUser._id)">Save</button>
     <button type="button" class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>
</form>

<!-- Table with all users and user info -->
<table class="table table-bordered">
	<thead>
		<tr>
			<th>Edit</th>
			<th>Username</th>
			<th>Age</th>
			<th>Email</th>
			<th>Phone</th>
			<th>Address</th>
			<th>Angular Newsletter</th>
			<th>Node Newsletter</th>
		</tr>
	</thead>
	<tbody>
		<!-- Repeats a row with all of a user's data -->
		<tr ng-repeat="user in users">
			<td>
			<button class="btn btn-mini" ng-hide="editmode" ng-click="edit(user._id)">
			Edit
			</button>
			<td>
			{{user.username}} 
			<a href="/#/all-users" ng-click="deleteUser(user._id)" class="delete">delete</a>
			</td>
			<td>{{user.age}}</td>
			<td>{{user.contact.email}}</td>
			<td>{{user.contact.phone}}</td>
			<td>{{user.contact.address}}</td>
			<td ng-if="user.newsLetters.angular" class="subbed">Subscribed</td>
			<td ng-if="!user.newsLetters.angular" class="noSub">Not Subscribed</td>
			<td ng-if="user.newsLetters.node" class="subbed">Subscribed</td>
			<td ng-if="!user.newsLetters.node" class="noSub">Not Subscribed</td>  
		</tr>
	</tbody>
	
</table>
</div>
