<table class="table table-bordered" style="margin-top: 90px;">
	<thead>
		<tr>
			<th>Username</th>
			<th>Age</th>
			<th>Email</th>
			<th>Phone</th>
			<th>Address</th>
			<th>Angular Newsletter</th>
			<th>Node Newsletter</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="user in users">
			<td>
			{{user.username}} 
			<a href="/#/all-users" ng-click="goToUser()">edit</a>
			<a href="/#/all-users" ng-click="deleteUser()">delete</a>
			</td>
			<td>{{user.age}}</td>
			<td>{{user.contact.email}}</td>
			<td>{{user.contact.phone}}</td>
			<td>{{user.contact.address}}</td>
			<td ng-if="user.newsLetters.angular">Subscribed</td>
			<td ng-if="!user.newsLetters.angular">Not Subscribed</td>
			<td ng-if="user.newsLetters.node">Subscribed</td>
			<td ng-if="!user.newsLetters.node">Not Subscribed</td>  
		</tr>
	</tbody>
	
</table>
