<table class="table table-bordered" style="margin-top: 90px;">
	<thead>
		<tr>
			<th>Things</th>
			<th>Edit</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>{{user.userName}}</td>
			<td><a href="#"> edit </a></td>
		</tr>
		<tr>
			<td>{{user.age}}</td>
			<td><a href="#"> edit </a></td>
		</tr>
		<tr>
			<td>{{user.contact.email}}</td>
			<td><a href="#"> edit </a></td>
		</tr>
		<tr>
			<td>{{user.contact.phone}}</td>
			<td><a href="#"> edit </a></td>
		</tr>
		<tr>
			<td>{{user.contact.address}}</td>
			<td><a href="#"> edit </a></td>
		</tr>
		<tr>
			<td>{{user.newsLetters.angular}}</td>
			<td><a href="#"> edit </a></td>
		</tr>
		<tr>
			<td>{{user.newsLetters.node}}</td>
			<td><a href="#"> edit </a></td>
		</tr>
			<!-- <td>{{item.age}}</td>
			<td>{{item.contact.email}}</td>
			<td>{{item.contact.phone}}</td>
			<td>{{item.contact.address}}</td>
			<td ng-if="item.newsLetters.angular">Subscribed</td>
			<td ng-if="!item.newsLetters.angular">Not Subscribed</td>
			<td ng-if="item.newsLetters.node">Subscribed</td>
			<td ng-if="!item.newsLetters.node">Not Subscribed</td>  
		</tr> -->
	</tbody>
	
</table>
